<h1 style="color: rgb(45, 115, 177);text-align: center;">Result</h1>


<button (click)="displayData()"> click</button>

<table class="table" style="border: 1px solid red; color: aliceblue;">
    <thead class="text-primary"><td>Index</td>
      <td>Name</td>
    <td>Time</td>
</thead>
<tbody id="result">
  
    <ng-container *ngFor="let data of tran; let i=index">
      <tr >
        <th>{{i+1}}</th>
        <th >{{data.name}}</th>
        <th>{{data.time}}</th>
        
    </tr>
    
    </ng-container>
 
</tbody>
</table>
